/* TAB STUFF */
.tab-container{
    background-color: white;
    padding: 2%;

    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

/* CHECKBOX STUFF */
.checkbox-container{
    width: 50%;
    background-color: #FFFFFF;
}
.student-name{
    padding: 5.5%;
}
.checkbox-item{
    width: 100%;
}
.container {
    text-align: center;

    background-color: #27ae60;
    color: #FFFFFF;
    width: 60%;
    border-color: #000000;
    border-style: double;
    border-width: 5px;
    border-radius: 20px;
    margin-top: 1px;
    margin-bottom: 0px;
    margin-right: 1px;
    margin-left: 1px;
    padding: auto;
}
