/*
    claro #55ab68
    oscuro #1b4128
*/

/* TABLE STUFF */
table{
    margin-bottom: -1% !important;

    border-left: none;
    border-right: none;
}
thead{
    background-color: black;
}
th{
    text-align: center !important;

    border-left: none;
    border-right: none;
}
tbody{
    background-color: #ecf0f1;
    color: black;
}
hr {
    border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.box-hr {
    margin: 0 1%;
    margin-top: -0.5%;
    margin-bottom: 1%;
}
td {
    padding: 10px 5px !important;

    border-left: none;
    border-right: none;
}

/* GRID DIVIDER */
.row:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.col-:not(:last-child) {
    border-right: 1px solid #ccc;
    margin-top: 1%;
    margin-bottom: 2%;
}
